.header img {
  height: 80px;
}
.header {
  text-align: center;
}
nav {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: black;
  font-size: 20px;
}
nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 7px;
}
nav a:hover {
  color: gray;
}
.user-name {
  color: greenyellow;
}
.sign-out {
  background-color: black;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sign-out:active {
  color: red;
}
